.bg-cantainer {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png');
    background-size: cover;
    height: 100vh;
    font-family: "Roboto";
    color: white;
}

.head {
    text-align: center;
    font-family: "Roboto";
}

h1 {
    font-weight: bold;
    font-size: 45px;
}

.f-para {
    padding: 0;
    margin: 1px;
}

.sec-head {
    font-family: "Roboto";
    text-align: left;
    padding: 1px;
}

.th-part {
    padding: 2px;
    text-align: center;
    font-family: "Roboto";
}

.button {

    color: white;
    font-style: bold;
    font-weight: bold;
    background-color: orange;
    width: 20vw;
    height: 5vh;
}

.th-para {
    text-decoration: underline;
}